@model IEnumerable<KairosTest.Models.UsersViewModel>
<!--begin::Container-->
<div id="kt_content_container" class="container-fluid">
	<div class="card card-docs mb-2">
		<!--begin::Card header-->
		<div class="card-header">
			<h3 class="card-title align-items-start flex-column">
				<span class="card-label fw-bolder text-dark">Daftar User</span>
			</h3>
		</div>
		<!--end::Card header-->
		<!--begin::Card body-->
		<div class="card-body">
			<!--begin::Wrapper-->
            <div class="d-flex flex-stack mb-5">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                    <span class="svg-icon svg-icon-1 position-absolute ms-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black"></rect>
							<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black"></path>
						</svg>
                    </span>
                    <input type="text" data-kt-docs-table-filter="search" class="form-control form-control-solid w-300px ps-15" placeholder="Cari..."/>
                </div>
                <!--end::Search-->
                <!--begin::Toolbar-->
                <div class="d-flex justify-content-end" data-kt-docs-table-toolbar="base">
                    <a type="button" class="btn btn-primary" asp-action="Create">
                        <span class="svg-icon svg-icon-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
								<rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
							</svg>
                        </span>
                        User
                    </a>
                </div>
                <!--end::Toolbar-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Datatable-->
            <table id="kt_datatable_buku" class="table align-middle table-row-dashed fs-6 gy-5">
                <thead>
                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                    <th style="width: 30px;">ID</th>
                    <th>Nama User</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="text-gray-600 fw-bold">
                    @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role)
                                </td>
                                <td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Hapus</a>
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
            <!--end::Datatable-->
		</div>
		<!--end::Card body-->
	</div>
</div>
<!--end::Container-->
@section Scripts
{
    <script src="~/js/masterbuku.js" type="text/javascript" asp-append-version="true"></script>
}